.footer {
  display: grid;

  padding: 25px 30px;

  color: var(--white);
  background: var(--primary);

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: 'first second third';
  gap: 10px 40px;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.footer a {
  display: inline-block;
}

.footer a:hover {
  cursor: pointer;
  transition: all 0.2s;

  color: #d5d0d0;
}

@media (max-width: 765px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-areas:
      'first'
      'second'
      'third';
  }
}
